<%= form_for Employee.new do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, collection: Employee.roles.keys %>
  </div>
  <div class="actions">
    <%= f.submit 'Add', class: 'btn btn-primary' %>
  </div>
<% end %>
